/* .headingDiv{
    background-image: url(../../Images/dashboard-background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.headingDiv h1{
    color: #fff;
    text-transform: uppercase;
    font-size: 3rem;
} */